/**
 * Yippee-ki-yay, motherfucker!
 * It's a common css
 */


pre.log-container{
    margin:           0;
    width:            100%;
    min-height:       100px;
    max-height:       1000px;
    overflow-x:       scroll;
    overflow-y:       scroll;
    font-size:        8pt;
    border:           1px dashed;
    padding:          2px 0px 4px 6px;
    background-color: #dddddd;
}

.log-caption{
    float: left;
    font-weight: bold;
}

img.log-loader{
    width: 30px;
    margin-left: 4px;
}

