/**
 * Yippee-ki-yay, motherfucker!
 * It's a common css
 */


pre.log-container{
    margin:           0;
    width:            105%;
    height:           500px;
    overflow-x:       hidden;
    overflow-y:       scroll;
    font-size:        8pt;
    border:           0px dashed;
    padding:          2px 0px 4px 6px;
    background-color: #dddddd;
}

pre.log-header{
    margin:           0px;
    width:            105%;
    overflow-x:       hidden;
    overflow-y:       hidden;
    font-size:        8pt;
    border:           0;
    padding:          2px 0px 4px 6px;
    background-color: #dddddd;
}

.log-caption{
    float: left;
    font-weight: bold;
}

a.log-caption{
    float: right;
    font-weight: bold;
}


.log-row{
    vertical-align: top;
}

img.log-loader{
    width: 30px;
    margin-left: 4px;
    display: none;
}


sup{
    font-weight: bold;
    font-size: 8pt;
}


.notice-row{
    font-family: monospace;
    color: gray;
    font-size: 7pt;
    margin-top: 50px;
}

pre.notice-row{
    font-family: monospace;
    font-size: 7pt;
    color: gray;
    margin-top: 0;
    width: 100%;
}

div.notice-row{
    float: right;
    width: 330px;
    display: none;
}
